@import "tailwindcss";

@layer base {
  :root {
    background-color: #222;
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }
  * {
    border-color: default;
  }
  .astro-code {
    margin: 1ch 0;
    white-space: pre-wrap;
  }
  pre, code {
    background-color: var(--color-side-bg);
    padding-left: 1ch;
    padding-right: 1ch;
  }
  pre > code {
    padding: 0;
  }
  p {
    margin-bottom: 15px;
  }
  .post-content {
    a {
      color: var(--color-link);
      &:visited {
        color: var(--color-link-visited);
      }
    }
    
    pre {
      padding-block: .5ch;
      margin-block: .5ch;
    }

    h1,h2,h3,h4,h5,h6 {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 500;
      & i {
        visibility: hidden;
        color: #ccc;
      }
      &:hover i { visibility: initial; }
    }
    h1 { font-size: x-large; }
    h2 { margin-left: 30px; }
    h3 {
      color: #fff7;
      margin-bottom: 0;
    }

    & i.gg-link {
      display: inline-block !important;
      margin-left: 1ch;
      margin-right: 1ch;
      margin-bottom: 7px;
    }

    #table-of-contents { display: none }
    #table-of-contents + ul {
      float: right;
      background-color: var(--color-side-bg);
      padding: 5px 12px;
      width: 20ch;
      margin: 10px;
      ul {
        padding-left: 10px;
      }
      li {
        list-style-type: decimal;
        list-style-position: inside;
      }
    }
  }
}
@theme {
  --tw-border-style: solid;
  --color-emph-bg: #181818;
  --color-side-bg: #333;
  --color-faint-fg: #666;
  --color-emph-fg: #ddd;
  --color-shade: #fff1;
  --color-link: #5c2dc8;
  --color-link-visited: #746a8b;
  --font-prose: "Roboto", sans-serif;
}

@layer components {
  .emph-bg {
    background-color: var(--color-emph-bg);
    border-color: var(--color-emph-bg);
  }
  .post-meta {
    color: var(--color-faint-fg);
    font-style: italic;
    font-weight: 500;
    margin-left: 0.3em;
  }
  .summary {
    font-style: italic;
    color: var(---color-emph-fg);
    letter-spacing: 3px;
  }
  .gutter {
    scrollbar-gutter: stable;
  }
}
