---
import { getCollection } from "astro:content";
import Main from "../layouts/Main.astro";
import BlogList from "../components/BlogList.svelte";

const posts = await getCollection("blog");
---

<Main>
	<BlogList posts={posts} client:load />
</Main>
